@model IEnumerable<PetStore_web.Models.Pet>
@{
    Layout = null;
}
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Pet Store</h2>
    <img src="~/Content/puppy_cage_pet_store.jpg"  class="image_big"/>
    <p class="even">
    Bacon ipsum dolor sit amet meatball filet mignon ground round ribeye, rump ham meatloaf. Rump corned beef porchetta sirloin. Rump chuck turkey andouille sirloin pork belly ribeye landjaeger turducken tri-tip drumstick tail beef shank pork chop. Pork brisket meatloaf bacon, pork loin tongue porchetta filet mignon sausage kevin biltong ball tip. Meatball t-bone filet mignon, strip steak pork loin beef ribs ham prosciutto swine bacon. Jerky pork chop doner pork belly, ball tip hamburger sirloin boudin chicken short ribs meatloaf. Beef ribs tongue filet mignon shank landjaeger kielbasa tri-tip sausage pork loin pig meatball ground round venison pork belly ribeye.
    </p>
    <p>
    Shank kielbasa swine short loin beef ribs landjaeger drumstick pork loin shankle boudin kevin chicken chuck. Landjaeger pork prosciutto short ribs. Corned beef ground round porchetta, capicola ham hock andouille tongue leberkas tail biltong filet mignon. Kielbasa turkey ham fatback shankle porchetta ground round andouille doner. Tenderloin biltong hamburger kevin frankfurter capicola turkey. Kevin prosciutto strip steak beef ribs, short ribs salami ribeye sausage turkey pork belly boudin filet mignon pancetta pork chop. Flank bresaola pork, pig salami boudin chicken.
    </p>
     <p class="even">
    Ribeye jowl kielbasa biltong doner swine. Brisket chuck short ribs jowl tenderloin pork belly sirloin pancetta shankle meatloaf beef ribs strip steak. Strip steak beef ribs flank bresaola hamburger bacon cow ball tip. Sausage chicken t-bone beef ribs tongue swine kielbasa prosciutto pastrami fatback. Ball tip leberkas fatback meatloaf cow. Chuck shankle pastrami, ham hock tail landjaeger pork loin ball tip drumstick bacon pancetta cow ham flank. Swine tri-tip bresaola ground round spare ribs pork shank ham tenderloin pork loin brisket meatball.
    </p>
    <p>
    Prosciutto turkey tongue, swine hamburger brisket ham hock tri-tip tail jerky. Doner cow tenderloin pork chop chuck kielbasa meatloaf corned beef meatball ball tip turducken. Salami ball tip hamburger strip steak. Chicken brisket jerky bacon ham. Ground round sausage ribeye shoulder.
    </p>
    <p class="even">    
    Beef pork belly fatback ground round ball tip. Beef ribs short loin sirloin drumstick rump prosciutto salami corned beef ham hock sausage tenderloin cow. Flank tail jowl pancetta. Spare ribs meatloaf leberkas cow, prosciutto tongue bacon short ribs chuck doner. Tri-tip strip steak prosciutto turkey shankle jerky cow kielbasa leberkas tongue pork filet mignon pastrami. Sausage turkey short loin ham hock cow. 
    </p>
</body>
</html>
