@model IEnumerable<PetStore_web.Models.Pet>
@{
    Layout = null;
}
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Inventory</h2>
        @foreach (var item in Model) {
            <section class="pet_store_line_item">
                <img src="@Html.DisplayFor(modelItem => item.smlPicture)" class="pet_store_image"/>
                <div class="pet_store_title">@Html.DisplayFor(modelItem => item.name) [@Html.ActionLink("View", "View", new { id=item.petId })]</div>
                <div>@Html.DisplayFor(modelItem => item.description)</div>
                <br /><br />
            </section>
        }
</body>
</html>
