body{
	font-family: 'Yanone Kaffeesatz',sans-serif;
}
#tictactoe{
	width: 700px;
	margin:0 auto;
	padding: 10px;
	text-align: center;
}
h3{
	font-size: 30pt;
}
.cell{
	position: relative;
	float: left;
	width: 200px;
	height: 150px;
	text-align: center;
	display: inline;
	padding: 10px;
	border: 1px solid blue;
}
.x-clicked {
	background: url(../images/tic-tac-toe-X.png) no-repeat left top;
    background-position: center;
}
.o-clicked {
	background: url(../images/tic-tac-toe-O.png) no-repeat left top;
    background-position: center;
}