body{
	font-family: 'Yanone Kaffeesatz',sans-serif;
	margin: 0px;
	padding: 10px;
	text-align: center;
}
#tictactoe{
	width: 700px;
	margin:0 auto;
}
h3{
	font-size: 30pt;
}
.cell{
	position: relative;
	float: left;
	width: 200px;
	height: 150px;
	text-align: center;
	display: inline;
	padding: 10px;
	border: 1px solid blue;
}
.x-clicked {
	background: url(../images/tic-tac-toe-X.png) no-repeat left top;
    background-position: center;
}
.o-clicked {
	background: url(../images/tic-tac-toe-O.png) no-repeat left top;
    background-position: center;
}
.msg{
	display:none;
	position: absolute;
	top: 100px;
	background: red;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
	z-index: 100;
}
.clear {
  clear: both;
  display: block;
}
/*tabs*/
nav{
	background-color: white;
	width: 700px;
	margin:0 auto;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: white;
	float: left;
	width: 100%;
}

nav li {
	float: left;
	margin: 0 1em 0 0;
}

nav a {
	text-decoration: none;
	display: block;
	width: 6em;
	padding: 0 0.5em;
	font-weight: bold;
	color: black;
	/*border-bottom: 0.5em solid #fc6;
	color: #fc6;*/
	border-bottom: 0.5em solid #fa3;
	color: #fa3
	
}

nav a:hover {
	/*color: #fc6;
	border-color: #fc6;*/
	color: #fc6;
	border-color: #fc6;
}

nav .selected a {
	color: #f80;
	border-color: #f80;
}

#content {
	clear: both;
	color: white;
	padding: 1em;
}

#content p {
	margin: 0 0 1em 0;
}
h1 {
	margin: 0;
	padding: 0.5em 0 1em 0.5em;
	color: #f80;
	font-size: 1.5em;
	font-style: italic;
}
fieldset, table{
	text-align: center;
	margin: 0 auto !important;
}

p {
	position:relative;
	margin:5px;
	float: left;
}
label.error {
	position:absolute;
	top:-38px;
	right:-20px;
	margin:0;
	background:red;
	opacity:.7;
	filter:alpha(opacity=70);
	color:#fff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	-moz-box-shadow:0 0 7px #000;
	-webkit-box-shadow:0 0 7px #000;
	box-shadow:0 0 7px #000;
	border:2px solid #fff;
	padding:5px 10px;
}
label.error:before {
	content:url(../images/triangle.png);
	position:absolute;
	bottom:-36px;
	height:36px;
}
.content{
	font-family: verdana;
	padding: 5px 80px 50px 80px;
	text-align: left;
}
.cmxform p{
	postion: relative;
	left: 200px;
	clear: both;
	width:310px;
}