body {
    padding: 0px;
    font-family: "lucida grande", verdana, tahoma, arial;
    font-size: 6pt;
    font-weight: bold;
    background-image:url('../img/bck.jpg');
    background-repeat:no-repeat;
    width: 100%;
}
p {
	margin: 0px;
	padding: 0px;
}
p.p1 {
	text-indent: 20px;
}
p.p5 {
	padding: 20px 0px;
}
a:link, a:visited, a:hover, a:active{
	color: black;
	font-weight: bold;
}
#container {
    padding-top: 0px;
    background-image:url('../img/bck2.jpg');
    background-repeat:no-repeat;
    left: 149px;
    width: 100%;
    top: 0px;
    position: absolute;
}
#intro{
	background-image:url('../img/title2.jpg');
    background-repeat:no-repeat;
    background-position:center top;
	width: 400px;
	text-align: justify;
	padding-top:100px;
}
#supportingText, #participation {
	width: 400px;
	text-align: justify;
}
#pageHeader{
	display: none;
}
#container h3{
	background-image:url('../img/piuma.gif');
    background-repeat:no-repeat;
    text-indent: 30px;
}
#container h3 span{
	font-size: 10pt;
}
#linkList a{
	text-decoration: none;
	font-weight: normal;
}

#linkList2 h3{
	background-image:none;
}

#linkList{
	position: absolute;
	top: 125px;
	left: 430px;
	text-align: right;
}
#linkList2 li{
	list-style-type: none;
}
#footer {
	text-align: center;
	padding-bottom: 25px;
	word-spacing:10px;
}
#footer a {
	text-decoration: none;
}
