<div class="container">
	<h3 class="center">About</h3>
	<div class="row">
		<div class="col-md-12 show-grid">
			<h2>Hello, world!</h2>
			<p class="lead">This is an example to show the potential of an off canvas
				layout pattern in Bootstrap. Try some responsive-range sizes to see 
				it in action.
			</p>	
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6 col">
			<h3>Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem non libero placerat, ac hendrerit tortor posuere. Sed sed nibh aliquet, facilisis mauris vel, volutpat arcu. Curabitur rutrum purus a semper cursus. Ut pharetra iaculis libero, eget eleifend enim aliquet vel. Integer porta mi at laoreet aliquam. Integer tempor ipsum sit amet risus molestie finibus. Curabitur non accumsan mauris, quis porta tortor.
			</p>	
		</div>
		<div class="col-md-6 col">
				<h3>Heading</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem non libero placerat, ac hendrerit tortor posuere. Sed sed nibh aliquet, facilisis mauris vel, volutpat arcu. Curabitur rutrum purus a semper cursus. Ut pharetra iaculis libero, eget eleifend enim aliquet vel. Integer porta mi at laoreet aliquam. Integer tempor ipsum sit amet risus molestie finibus. Curabitur non accumsan mauris, quis porta tortor.
				</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 show-grid">
			<h2>Hello, world!</h2>
			<p class="lead">This is an example to show the potential of an off canvas
				layout pattern in Bootstrap. Try some responsive-range sizes to see 
				it in action.
			</p>	
		</div>	
	</div>
</div>