.pet_store_line_item {
    display: block;
}
.pet_store_title {
    font-weight: bold;
}
.image_big {
    float: left;
    width: 300px;
    margin: 15px;
}
.pet_store_image {
    width : 110px;
    float: left;
    margin: 15px;
}
.pet_store_image_big {
    width : 210px;
    margin: 5px;
}
.price {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 210px;
}
.event {
    background: #CCC;
}
